# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Dependencies
node_modules

# Build output
dist

# Environment files
.env
.env.*
!.env.example

# Editor directories
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
